#!/bin/bash

SSH_PORT="22"
ALLOWED_SSH_USERS=("root")
LOG_FILE="/var/log/hardening.log"
PASS_MIN_LEN="minlen=12"
PASS_MAX_DAYS_VALUE="90"
PASS_MAX_DAYS_FILE="/etc/login.defs"
FAIL_LOCK_ATTEMPTS="5"
FAIL_LOCK_ATTEMPTS_FILE="/etc/security/faillock.conf"
COMMON_PASSWORD_FILE="/etc/pam.d/common-password"
ALLOW_HTTP="80"
ALLOW_HTTPS="443"
ALLOWED_NETWORK_PORTS=("${ALLOW_HTTP}" "${ALLOW_HTTPS}")
FIREWALL_RULES_FILE="/etc/hardening/firewall.rules"
SYSCTL_CONF_FILE="/etc/sysctl.conf"
